{% extends "base_template.html" %}

{% block content %}
<h1>Account Creation:</h1>
<div class="form_container">
<form action = "" method = "POST">
    <!--- This token is for security purposes. The form will not work without it--->
    {% csrf_token %}
    <!--- This form uses bootstrap formatting--->
    <legend class="border-bottom mb-4"> Create Account: Fill out the fields below</legend>
    <!--- This prints out form and the as_p prints the text as paragraph format--->
    {{ form.as_p }}
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit"> Create Account</button>
    </div>
</form>
</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Already have an Account? <a class="ml-2" href="#">Sign in</a>
    </small>
</div>

{% endblock content %}


