body{
    text-align: center;
    background-image: url('general_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px 1000px;
}

h1{
    color:gold
}

.form_container{
    display: flex;
    align-items: left;
    justify-content: left;
}

 #done_button{
    margin-left: 100px;
    margin-top: 25px;
    width: 100px;
 }